@media only screen and (max-width:1260px){
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        height: 447px;
        transition: all 0.7s ease-out;
        flex-direction: column;
    }
    .rightNav{
        text-align: center;
    }
    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
     }
    .firstSection {
        height: 58vh;
    }
    #search{
        width: 100%;
    }
    .burger{
        display: block;
    }
    .h-nav-resp{
        height: 72px;
    }
    .v-cls-resp{
        opacity: 0;
    }
    .section{
        flex-direction: column-reverse;
    }
    .text-small{
        text-align: center;
    }
    .text-big{
        text-align: center;
    }
    .buttons{
        text-align: center;
    }
    .paras{
        padding: 0px;
    }
    .contact {
    height: 670px;
    }
}